/* Skrafl.css */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('glyphicons-halflings-regular.woff') format('woff'),
  url('glyphicons-halflings-regular.ttf') format('truetype'),
  url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 2px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-play:before {
   content: "\e072";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fire:before {
  content: "\e104";
}

body {
   font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

table.board {
   margin: 0;
   padding: 0;
   border-spacing: 0;
   border-collapse: separate;
   table-layout: fixed;
}

.board td {
   height: 32px;
   width: 32px;
   max-width: 32px;
   max-height: 32px;
   min-width: 32px;
   min-height: 32px;
   overflow: hidden;
   text-align: center;
   font-size: 24px;
   background-color: #afb8bf;
   border-style: solid;
   border-color: #f2f2f2;
   border-width: 1px;
   margin: 0;
   padding: 0;
}

td.over {
   outline: yellow solid 3px;
}

.colid td {
   height: 16px;
   width: 32px;
   min-height: 16px;
   max-height: 16px;
   overflow: hidden;
   background-color: transparent;
   text-align: center;
   font-size: 14px;
   line-height: 14px;
   font-weight: 400;
   border-width: 0;
   margin: 0;
   padding-top: 2px;
   padding-bottom: 4px;
   padding-left: 0;
   padding-right: 0;
}

td.rowid {
   width: 16px;
   height: 32px;
   min-width: 16px;
   max-width: 16px;
   overflow: hidden;
   background-color: transparent;
   text-align: center;
   font-size: 14px;
   line-height: 14px;
   font-weight: 400;
   border-width: 0;
}

/* Board layout */
#H8, #B2, #C3, #D4, #E5, #B14, #C13, #D12, #E11,
#K5, #L4, #M3, #N2, #K11, #L12, #M13, #N14 {
   /* Double word score */
   background-color: #f7d2d8;
}

#A1, #A8, #A15, #H1, #H15, #O1, #O8, #O15 {
   /* Triple word score */
   /* background-color: #f04455; */
   background-color: #ee4f68;
}

#A4, #A12, #C7, #C9, #D1, #D8, #D15,
#G3, #G7, #G9, #G13,
#H4, #H12,
#I3, #I7, #I9, #I13,
#O4, #O12, #M7, #M9, #L1, #L8, #L15 {
   /* Double letter score */
   background-color: #78aee6;
}

#B6, #B10, #F2, #F6, #F10, #F14,
#N6, #N10, #J2, #J6, #J10, #J14 {
   /* Triple letter score */
   background-color: #006db8;
}

div.tile {
   background-color: #e4ad87;
   font-size: 25px;
   line-height: 25px;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   height: 30px;
   width: 100%; /* 30px; */
   overflow: hidden;
   margin: 0px;
   padding-top: 2px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 2px;
}

div.racktile {
   cursor: move;
   background-color: #fcce43;
}

div.blanktile {
   color: #666666;
}

div.freshtile {
   /* background-color: #80CEB4; */
   background-color: #7ad3b7;
}

div.letterscore {
   position: relative;
   top: -8px;
   left: 22px;
   height: 9px;
   width: 9px;
   font-size: 9px;
   line-height: 9px;
   text-align: right;
   font-weight: 400;
   padding: 0;
   background-color: transparent;
}

div.heading {
   position: relative;
   width: 100%;
   height: 80px;
   background-color: #afb8bf;
   top: 0; left: 0;
   padding-left: 0px;
   padding-right: 0px;
}

h3.playerleft {
   display: inline-block;
   position: absolute;
   top: -16px; left: 0;
   width: 50%;
   font-size: 16px;
   line-height: 16px;
   font-weight: 700;
   text-align: left;
   color: #222222;
   overflow: hidden;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 4px;
}

h3.playerright {
   display: inline-block;
   position: absolute;
   top: -16px; right: 0;
   width: 50%;
   font-size: 16px;
   line-height: 16px;
   font-weight: 700;
   text-align: right;
   color: #222222;
   overflow: hidden;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-right: 4px;
}

h3.scoreleft {
   display: inline-block;
   position: absolute;
   top: 40px;
   left: 0;
   width: 50%;
   font-size: 22px;
   line-height: 22px;
   font-weight: 700;
   text-align: left;
   color: white;
   overflow: hidden;
   margin-top: 4px;
   margin-bottom: 4px;
   padding-left: 4px;
}

h3.scoreright {
   display: inline-block;
   position: absolute;
   top: 40px;
   right: 0;
   width: 50%;
   font-size: 22px;
   line-height: 22px;
   font-weight: 700;
   text-align: right;
   color: white;
   overflow: hidden;
   margin-top: 4px;
   margin-bottom: 4px;
   padding-right: 4px;
}

div.movelist {
   position: absolute;
   top: 84px;
   left: 0px;
   height: 424px;
   width: 100%;
   background-color: #d6d1c4;
   overflow: auto;
   font-size: 15px;
   line-height: 15px;
   font-weight: 400;
   color: black;
}

div.leftmove {
   text-align: left;
   padding: 2px;
}

div.rightmove {
   text-align: right;
   padding: 2px;
}

.humancolor {
   /* background-color: #EFD873; */
   background-color: #fcce43;
}

.autoplayercolor {
   background-color: #7ad3b7;
}

span.score {
   font-weight: 700;
   padding-left: 4px;
   padding-right: 4px;
}

span.word {
   text-transform: uppercase;
}

body {
   padding: 0;
   margin: 0;
}

div.container {
   position: relative;
   top: 0;
   left: 0;
   width: 768px;
   height: 768px;
   background-color: #FFF1DC;
}

div.pageheader {
   position: relative;
   top: 0;
   left: 0;
   font-size: 20px;
   width: 100%;
   height: 40px;
   margin: 4px;
}

.pageheader h2 {
   width: 100%;
   margin: 0;
   display: inline;
}

.pageheader h3 {
   font-size: 14px;
   font-weight: 400;
   width: 100%;
   margin: 0;
   padding-left: 4px;
   display:inline;
}

div.logout {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 16px;
   text-align: right;
   vertical-align: middle;
   width: 25%;
   height: 40px;
   margin: 8px;
   padding-top: 8px;
}

div.board {
   position: absolute;
   top: 48px;
   left: 0px;
}

div.rightcol {
   position: absolute;
   width: 204px;
   right: 4px;
   top: 48px;
   margin-top: 24px;
}

div.rack {
   position: absolute;
   text-align: center;
   bottom: 91px;
   left: 172px;
   background-color: #afb8bf;
   padding: 8px;
   border-width: 0;
   border-radius: 4px;
   margin: 0;
}

div.error {
   position: absolute;
   text-align: center;
   display: block;
   bottom: 40px;
   left: 34px;
   width: 520px;
   height: 28px;
   background-color: #ee4f68;
   font-size: 16px;
   font-weight: 700;
   color: white;
   margin: 0;
   padding-top: 4px;
   visibility: hidden;
}

div.error p {
   display: inline;
   position: relative;
   top: 0;
   left: 0;
   width: auto;
   height: auto;
   margin: 0;
   padding: 0;
}

div.submitmove {
   position: absolute;
   width: 100px;
   height: 28px;
   text-align: center;
   bottom: 100px;
   left: 446px;
   background-color: #7ad3b7;
   font-size: 18px;
   font-weight: 700;
   color: white;
   margin: 0;
   padding-top: 4px;
   border-radius: 4px;
   cursor: pointer;
}

div.submitpass {
   position: absolute;
   width: 36px;
   height: 28px;
   text-align: center;
   bottom: 100px;
   left: 74px;
   background-color: #ffa03b;
   font-size: 18px;
   font-weight: 700;
   color: white;
   margin: 0;
   padding-top: 4px;
   border-radius: 4px;
   cursor: pointer;
}

div.submitresign {
   position: absolute;
   width: 36px;
   height: 28px;
   text-align: center;
   bottom: 100px;
   left: 32px;
   background-color: #ee4f68;
   font-size: 18px;
   font-weight: 700;
   color: white;
   margin: 0;
   padding-top: 4px;
   border-radius: 4px;
   cursor: pointer;
}

div.submitexchange {
   position: absolute;
   width: 36px;
   height: 28px;
   text-align: center;
   bottom: 100px;
   left: 116px;
   background-color: #7ad3b7;
   font-size: 18px;
   font-weight: 700;
   color: white;
   margin: 0;
   padding-top: 4px;
   border-radius: 4px;
   cursor: pointer;
}

div.loginform {
   position: absolute;
   left: 204px;
   top: 140px;
   text-align: center;
}

input.username {
   font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
   font-size: 20px;
   font-weight: 700;
   height: 32px;
   width: 300px;
   border-style: solid;
   border-color: #55cc66;
   border-width: 2px;
   border-radius: 6px;
   margin: 0;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 8px;
   padding-right: 8px;
}

input.username:focus {
   background-color: #ffffc8;
   border-style: solid;
   border-color: #55cc66;
   border-width: 2px;
   border-radius: 6px;
   outline: none;
}

button.login {
   font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
   font-size: 20px;
   font-weight: 400;
   height: 40px;
   color: white;
   text-align: center;
   width: 322px;
   border-width: 0;
   border-radius: 6px;
   background-color: #55cc66;
   margin-top: 20px;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
   padding-top: 4px;
   padding-bottom: 4px;
   padding-left: 8px;
   padding-right: 8px;
   cursor: default;
}

button.login:focus {
   outline: yellow solid 3px;
   background-color: #55cc66;
   /*
   border-style: solid;
   border-width: 3px;
   border-color: yellow; */
}

div.over {
   outline: yellow solid 3px;
}

div.disabled {
   background-color: #d6d1c4;
}
